body{
  margin: 0px;
  padding: 0px;

}

#content{
	height: 2000px;
	width: 100%;
	margin-top: 300px;
}


h1{
	color: #ccc;
	font-weight: 300;
	font-size: 50px; 
	color: tomato;
	text-align: center;
}

p{
	text-align: center;
}

article{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

/*Efekt*/

#banner{
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(C:/Users/kuba/Desktop/moja_strona_projekt/img/background.png);
  /*background-attachment: fixed;*/
  background-position: center;
  overflow: hidden;

}

.Dane{
	height: 100px;
	width: 100px;
	border-radius: 25px; 
	background-color: pink;
	position: absolute;
	left: 25%;
	top: 800px;

}
.CV{
	height: 100px;
	width: 100px;
	border-radius: 25px; 
	background-color: pink;
	position: absolute;
	left: 45%;
	top: 800px;
}

.Kontakt{
	height: 100px;
	width: 100px;
	border-radius: 25px; 
	background-color: pink;
	position: absolute;
	left: 65%;
	top: 800px;
}

